{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.2"}
        clj-kondo/clj-kondo {:mvn/version "2024.08.01"}}
 :aliases
 {:test {:extra-paths ["test"]}
  :xref {:ns-default clj-xref.tool}}}
